@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    font-family: 'Alata',sans-serif;
}

.color1 {
    background: #5A87A0;
}

.imgp {
    padding-left: 10px;
    padding-right: 10px;
    background: #5A87A0;
}

.imgp:hover {
    background: #2c6a8c;
    transition: 1s;
}

.imgs {
    padding-left: 40px;
    padding-right: 40px;
    background: #5A87A0;
}

.imgs:hover {
    background: #2c6a8c;
    transition: 1s;
}