@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    font-family: 'Alata',sans-serif;
}

.putih {
    background: white;
}


.color1 {
    background: #d24b4b;
}

.color2 {
    background: rgba(2, 31, 47, 0.75);
}

.color3 {
    background: #2155CD;
}

.home1 {
    background: #9BA4B4;
}

.home2 {
    background: #394867;
}

.home3 {
    background: #14274E;
}

.home4 {
    background: #F1F6F9;
}

.imgp {
    padding-left: 10px;
    padding-right: 10px;
    background: #5A87A0;
}

.imgp:hover {
    background: #1b5a7c;
    transition: 0.5s;
}

.imgs {
    padding-left: 40px;
    padding-right: 40px;
    background: #5A87A0;
}

.imgs:hover {
    background: #1b5a7c;
    transition: 0.5s;
}

.ps {
    margin-top: 150px;
}

.pts {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gs {
    border-radius: 50%;
}

.buttonsabrina {
    background: rgb(180, 14, 14);
}

.buttonsabrina:hover {
    background: rgb(123, 7, 7);
}